default_config:

homeassistant:
  packages: !include_dir_named packages/

tts:
  - platform: google_translate

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

frontend:
  themes: !include_dir_merge_named themes
#   development_repo: /workspaces/home-assistant-frontend
  extra_module_url:
    - http://localhost:4000/card-features.js
